{% extends 'templates/static/base.html' %}
{% load crispy_forms_tags %}
{% block titulo %}Criar perfil | {{ user }} {% endblock  %}
{% block conteudo %}

<div class="row">

    {% if not request.user.is_authenticated %}
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <p>Se você já fez cadastro, basta entrar com seu usuário e senha abaixo:</p>

        <form method="POST" action="{% url 'perfil:login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="InputUsuario1">Usuário:</label>
              <input type="text" name='username' class="form-control" id="exampleInputEmail1" aria-describedby="usuarioHelp" placeholder="Digite seu usuário">
            </div>
            <div class="form-group">
              <label for="InputPassword1">Senha:</label>
              <input type="password" name='password' class="form-control" id="InputPassword1" placeholder="Digite sua senha">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
          </form>

    </div>
    {% endif %}

    <div class="col-lg mt-3">

        {% block titulo_cadastro %}
        <h4>Cadastro</h4>
        <p>Se você não tem cadastro cadastro, utilize o formulário a aguir para se cadastrar:</p>
        {% endblock titulo_cadastro %}

        <form action="" method="post">
            {% csrf_token %}
            {{ userform|crispy }}
            {{ perfilform|crispy }}
            <div class="row">
                <div class="col">
                    <button type="submit" class='btn btn-primary btn-block btn-lg'>
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock conteudo %}